#account-form{
    width: 50%;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
}

#account-form input{
    margin: 5px auto;
}

#account-form #change-pass-btn{
    color: #fff;
    background-color: #cf0a2c;
}

.account-info #order-btn, #logout-btn{
    color: #cf0a2c;
    text-decoration: none;
}

/* orders */
.orders table{
    width: 100%;
    border-collapse: collapse;
}

.orders .product-info{
    display: flex;
    flex-wrap: wrap;
}

.orders th{
    padding: 5px 10px;
    color: #fff;
    background-color: #cf0a2c;
    text-align: left;
}

.orders th:nth-child(2){
    text-align: right;
}

.orders td{
    padding: 10px 20px;

}

.orders td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}