.product img{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    object-fit: cover;
}

.pagination a{
    color: #cf0a2c;
}
.pagination li:hover a{
    color: #fff;
    background-color: #cf0a2c;
}

#search{
    position: fixed;
    top: 5px;
    float: left;
}

.shop-buy-btn{
    background-color: #cf0a2c;
    opacity: 1;
    color: #fff;
    text-decoration: none;
}
.pagination .active .page-link {
    background-color: #007bff; /* Màu nền của trang đang chọn */
    color: white; /* Màu chữ */
}
